<ion-content [fullscreen]="true">
  <div class="ion-padding header">
    <ion-title class="title">Restablecer contraseña</ion-title>
    <p class="subtitle">Digita tu correo electronico para restablecer la contraseña</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div class="signupLink">
        ¿Aun no tienes cuenta?
        <a [routerLink]="['/signup']">Registrarme</a>
      </div>
      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
        <ion-fab-button>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </form>
</ion-content>
