<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Amy6J6t-xuY?si=w_UrIEiyTb5Qbv9N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Quiero llorar el Barça ha jugado bien 15 minutos esta es mi Champions</p>&mdash; Manu.  <a href="https://twitter.com/GxlDePaulinho/status/1760398067956654139?ref_src=twsrc%5Etfw">February 21, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</ion-content>
